@font-face {
    font-family: SF Pro;
    src: url(../fonts/SF_Pro/SF-Pro.ttf);
}

* {
    transition: 0.2s;
    font-family: SF Pro;
    margin: 0;
    font-weight: 300;
    color: var(--font-color);
    user-select: none;
    outline: none;
}

*:focus-visible {
    outline: none;
    transform: scale(1.2);
}

body {
    background-image: var(--wallpaper);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    background-size: cover;
    transition: all 1s ease-in-out;
    overflow: hidden;
}


.main-window {
    background-color: var(--window-background);
    width: 588px;
    height: 352px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px 10px #00000070;
    border-radius: 12px;
    backdrop-filter: blur(25px);
    border: 1px solid var(--window-border);
}

.null-object {
    width: 100%;
    height: 100%;
    position: fixed;
    border-radius: 11px;
    z-index: 1;
    box-shadow: inset 0 0 0 1px #ffffff30;
}


.top-app-bar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: var(--top-app-bar-background);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 0 1px #00000050;
}

.main-buttons {
    padding: 13px;
    transform: translateY(1px);
    z-index: 2;
    display: flex;
    position: fixed;
    position: fixed;
    align-items: center;
}

.close-button {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: #ff5550;
    box-shadow: inset 0 0 0 1px #e04b43;
    margin: 0;
}

.hide-button {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: #ffb33d;
    box-shadow: inset 0 0 0 1px #d29e42;
    margin: 0 8px;
}

.expand-button {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: #33c848;
    box-shadow: inset 0 0 0 1px #2aaa3a;
    margin: 0;
}

.expand-button:disabled {
    background-color: var(--main-buttons-disabled);
    box-shadow: inset 0 0 0 1px var(--main-buttons-disabled-border);

}

.navigation {
    z-index: 2;
    display: flex;
    position: fixed;
    align-items: center;
    height: auto;
    background-color: var(--top-app-bar-background);
    border-radius: 6px;
    position: relative;
    box-shadow: inset 0 0 0 1px var(--top-app-bar-navigation-border);
}

.navigation li {
    list-style: none;
    display: inline-flex;
}

.nav-button {
    background-color: transparent;
    color: var(--top-app-bar-navigation-font-color);
    font-size: 11px;
    font-weight: 500;
    padding: 5px 6px;
    border-radius: 5px;
    border: none;
}

.nav-button:hover {
    background-color: var(--top-app-bar-navigation-hover-background);
    color: var(--top-app-bar-navigation-active-font-color);
}

.nav-button.active {
    background-color: var(--top-app-bar-navigation-active-background);
    color: var(--top-app-bar-navigation-active-font-color);
}

.nav-button:focus-visible {
    background-color: var(--top-app-bar-navigation-active-background);
    color: var(--top-app-bar-navigation-active-font-color);
    backdrop-filter: blur(5px);
}


.main-content {
    z-index: 2;
    display: flex;
    position: fixed;
    width: 100%;
    height: 312px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 234px;
}

.logo-o {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 234px;
}

.logo img {
    position: relative;
    border: 6px solid rgb(211, 211, 211);
    border-radius: 100%;
    box-shadow: 0 1px 3px 2px #00000035;
}

.content {
    display: flex;
    align-items: flex-start;
    width: calc(588px - 234px);
    height: 100%;
    flex-direction: column;
    justify-content: center
}

.title {
    display: block;
    margin-bottom: 26px;
}

.info {
    display: block;
}

.link-button {
    padding: 2px 8px;
    font-size: 10.5px;
    background-color: var(--button);
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 0 1px #00000010;
}

.link-button:active {
    background-color: var(--button-press);
}

copyright {
    position: fixed;
    display: inline-flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
    font-size: 10px;
    padding: 5px 0;
}
copyright p {
    color: var(--copyright-color);
}


.separator {
    height: 14px;
    width: 1px;
    background-color: var(--separator);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 300;
}

h2 {
    font-weight: 500;
}

td, th {
    text-align: start;
    font-size: 12px;
    padding: 0px 10px 6px 0;
}